body{
    background-color: black;
    color:white;
}


#obrazki{
    width: 85%;
    height: 200px;
    float: left;
}

img{
    float:left;
    height: auto;
    max-width: 37.5%;
    margin: 10px;
    transition-duration: 3s;

}

#przyciski{
    float:right;
    width: 15%;
    height: 50%;

}



#wyloguj
{
    position: absolute;
    top: 0px;
    right: 0px;
}
#wylogujdiv{

    width: 15%;
    height: 200px;
    float: left;

}

#przyciski button{
    font-size: 30px;
}

.kot{
    position: absolute;
    top: 10px;
    left: 10px;
}

.kon{
    position: absolute;
    top: 10px;
    left: 596px;
}

.pies{
    position: absolute;
    top: 319px;
    left: 10px;
}

.smok{
    position: absolute;
    top: 319px;
    left: 596px;
}






#kot{
    position: absolute;
    top: 10px;
    left: 10px;
    height: auto;
}

#kon{
    position: absolute;
    top: 10px;
    height: auto;
    left:596px;
}

#pies{
    position: absolute;
    top: 319px;
    left: 10px;
    height: auto;

}

#smok{
    position: absolute;
    top: 319px;
    left: 596px;
    height: auto;

}


fieldset{
    width: 400px;
    padding: 20px;
    border: dotted 4px green;
    border-radius: 40px;

}
input::placeholder,textarea::placeholder{
    color: lime;
    }

    input[placeholder],textarea[placeholder]{
        color:rgb(36, 121, 36);
    }

legend{
    text-align: center;
}

input,button,textarea{
    margin: 10px;
    color:black;
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 3s;
 }

 input:hover,textarea:hover{
    border: darkgreen 3px solid;
    margin-right:10px;
    margin-bottom: 8px;
 }

 input[type=text]:focus,input[type=password]:focus,textarea:focus{
    border: darkgreen 3px solid;
    margin-right:10px;
    margin-bottom: 8px;
    outline:none;
    box-shadow: 0px 0px 10px 2px rgba(60, 156, 53, 1);
 }

 input[type=reset],input[type=submit]{
    width: 117.5px;
    background-color: darkgreen;
 }
 input[type=reset]:focus,input[type=submit]:focus,input[type=reset]:hover,input[type=submit]:hover{

    background-color: darkolivegreen;
    border: darkgreen 3px solid;
    margin-right:10px;
    margin-bottom: 8px;
    margin-top: 9px;

 }
 input[type=reset]:active,input[type=submit]:active{

    background-color: green;


 }
 input:focus,textarea:focus{
    box-shadow: 0px 0px 10px 2px rgba(60, 156, 53, 1);
 }

textarea{
    min-width:200px;
    max-width:500px;
}

 #stopka{
     height: 300px;
     width: 900px;

     border: solid 1px green;
     padding: none;
        margin:20px;
        float: center;
        margin-left: auto;
         margin-right: auto;

    }

    span{

        padding: none;
        margin:none;
        font-size: 3em;
    }
    marquee
    {
        height: 100%;
        margin:none;
        padding:none;

    }


    .bomba{
        position: absolute;
    top: 635px;
    left: 1420px;
    height: 75px;
    width: auto;
  }

  .wybuch{
    display: none;
    height: 300px;
    width: 20%;

  }


  #wybuch2{
      position: absolute;
      top:20px;
      left: 135px;
  }
  #wybuch22{
    position: absolute;
    top:20px;
    left: 0px;
}
#wybuch222{
    position: absolute;
    top:20px;
    left: 270px;
}

#wybuch3{
    position: absolute;
    top:20px;
    left: 750px;
}
#wybuch33{
  position: absolute;
  top:20px;
  left: 615px;
}
#wybuch333{
  position: absolute;
  top:20px;
  left: 885px;
}

#wybuch4{
    position: absolute;
    top:300px;
    left: 135px;
}
#wybuch44{
  position: absolute;
  top:300px;
  left: 0px;
}
#wybuch444{
  position: absolute;
  top:300px;
  left: 270px;
}

#wybuch5{
    position: absolute;
    top:300px;
    left: 750px;
}
#wybuch55{
  position: absolute;
  top:300px;
  left: 615px;
}
#wybuch555{
  position: absolute;
  top:300px;
  left: 885px;
}

#obrazkii{
    position: absolute;
    top:0px;
    left:0px;
    width:85%;
    height: 570px;
    display: none;
}


.piec{
    position: absolute;
    top: 75px;
    left: 100px;
    height: 150px;
    width: 300px;
    background-color: rgb(163, 202, 189);
    color: rgb(14, 66, 36);
    border-radius: 20px;
    font-size: 70px;
    padding-top: 45px;
}