{% extends "base.html" %}
{% block title %}Kontakt{% endblock %}
{% set active_page = "contact" -%}
{% block body %}
<center>
<h3>Skontaktujesz się za mną pod tym adresem mail:</h3><br>
<a href="mailto:mateusz76781@wsb.pl">mateusz76781@wsb.pl</a>
<form method="post" action=""><br/><br/>
     <input type="text" placeholder="Nick"><br/><br/>
     <input type="email" placeholder="Email"><br/><br/>
     <textarea placeholder="Wiadomość"></textarea><br/><br/>
     <input type="button" value="Wyślij">
</form>
</center>
{% endblock %}