{% extends "base.html" %}
{% block title %}Galeria 2{% endblock %}
{% set active_page = "gallery2" -%}
{% block body %}

<div class="row">
<div class="col-sm-4">
    <a href={{ url_for('static', filename= 'obraz1.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz1.jpg') }}" alt="Obraz1" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
    <a href={{ url_for('static', filename= 'obraz2.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz2.jpg') }}" alt="Obraz2" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
    <a href={{ url_for('static', filename= 'obraz3.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz3.jpg') }}" alt="Obraz3" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
</div>
<div class="col-sm-4">
    <a href={{ url_for('static', filename= 'obraz4.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz4.jpg') }}" alt="Obraz4" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
    <a href={{ url_for('static', filename= 'obraz5.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz5.jpg') }}" alt="Obraz5" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
    <a href={{ url_for('static', filename= 'obraz6.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz6.jpg') }}" alt="Obraz6" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
</div>
<div class="col-sm-4">
    <a href={{ url_for('static', filename= 'obraz7.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz7.jpg') }}" alt="Obraz7" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
    <a href={{ url_for('static', filename= 'obraz8.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz8.jpg') }}" alt="Obraz8" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
    <a href={{ url_for('static', filename= 'obraz9.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename='obraz9.jpg') }}" alt="Obraz9" class="img-fluid w-100 shadow-1-strong rounded mb-4">
    </a>
</div>
</div>

{% endblock %}