{% extends "base.html" %}
{% block title %}Księga{% endblock %}
{% set active_page = "ksiega" -%}
{% block body %}
<div class="row">
<div class="col-sm-6">
<h1><b>Formularz:</b></h1><br>
        <form action= "" method="post">
            <center>
        <input type="text" name="imie" placeholder="Podaj swój nick"><br><br>
            <textarea name='text' placeholder="Tekst"></textarea><br><br>
        <button type='submit'>Wyślij</button></center>
        </form>
</div>
<div class="col-sm-6">
<h1><b>Sekcja komentarzy:</b></h1><br>
    {% for result in data %}
<p>{{result.name }} napisał(a): {{result.text }} </p>
{% else %}
<p>Brak wpisów </p>
{% endfor %}

</div>
</div>

{% endblock %}